.App {
  text-align: center;
  padding:10px;
  background: #61dafb;
}
.App-div{
  text-align: center;
  border:4px solid blue;
  padding:10px;

}
h1{
  color: blue;
  font-weight: bold;
}
.Menu{
  border:3px solid gray;
  background: #282c34;
  margin: 50px auto;
  border-radius: 20px;
}
.Reg{
  border: 2px solid rgb(8, 8, 138);
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.Hobbies{
  border: 2px solid rgb(8, 8, 138);
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
table{
  margin-top: 10px;
  margin-left: 390px;
  border: 2px solid black;
}
td{
  border: 2px solid black;
}
.Native{
  border: 2px solid rgb(8, 8, 138);
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  
}
.Login{
  border: 2px solid rgb(8, 8, 138);
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  padding-bottom: 10px;

}
.Counter{
  border: 2px solid rgb(8, 8, 138);
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  padding-bottom: 10px;

}
.Footer{
  border: 2px solid gray;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
